apiVersion: apps/v1
kind: Deployment
metadata:
  name: tracksapi-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tracksapi
  template:
    metadata:
      labels:
        app: tracksapi
    spec:
      imagePullSecrets:
        - name: acr-secret
      containers:
      - name: tracksapi
        image: crrvmaindev.azurecr.io/tracksapi:1.0.1
        ports:
          - containerPort: 80
        env:
          - name: ConnectionStrings__Portal
            value: "Host=$(PGHOST);Port=$(PGPORT);Database=$(PGDATABASE);Username=$(PGUSER);Password=$(PGPASSWORD)"
          - name: PGHOST
            valueFrom:
              secretKeyRef:
                name: postgres-app
                key: host
          - name: PGPORT
            valueFrom:
              secretKeyRef:
                name: postgres-app
                key: port
          - name: PGDATABASE
            valueFrom:
              secretKeyRef:
                name: postgres-app
                key: dbname
          - name: PGUSER
            valueFrom:
              secretKeyRef:
                name: postgres-app
                key: username
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-app
                key: password