apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-traefik-inf
  namespace: argocd
spec:
  project: infrastructure
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 37.4.0
    helm:
      parameters:
        - name: service.type
          value: LoadBalancer
  destination:
    server: https://kubernetes.default.svc
    namespace: ns-traefik-inf
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true      